{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<div class="ha-entities-grid" data-widget-id="{{ .WidgetID }}" style="--ha-entities-cols: {{ .Columns }}">
    {{ range .Entities }}
    <div class="ha-entities-tile{{ if .Toggleable }} is-toggleable{{ end }}{{ if .IsScript }} is-script{{ end }}"
         data-entity-id="{{ .EntityID }}"
         data-domain="{{ .Domain }}"
         data-toggleable="{{ .Toggleable }}"
         data-script="{{ .IsScript }}"
         data-sensor="{{ .IsSensor }}">
        {{ if .Icon.URL }}
        <img class="ha-entities-icon{{ if .Icon.AutoInvert }} flat-icon{{ end }}" src="{{ .Icon.URL }}" alt="" loading="lazy">
        {{ end }}
        <span class="ha-entities-title text-truncate">{{ .Title }}</span>
        {{ if .IsSensor }}<span class="ha-entities-value"></span>{{ end }}
    </div>
    {{ end }}
</div>
{{ end }}
